#
# {{ ansible_managed }}
#

[updates]
strategy = "{{ configure_zincati_update_strategy }}"

{% if configure_zincati_update_strategy == "periodic" %}
[[updates.periodic.window]]
days = {{ configure_zincati_periodic_days }}
start_time = "{{ configure_zincati_periodic_start_time }}"
length_minutes = {{ configure_zincati_periodic_length_minutes }}
{% endif %}
